div.popup
    // вот сюда рендерить контент отдельно взятого попапа
    button(type="button").popup__close.js-popup__close
    
//- div.test
    button.pill-btn(type="button" data-modal-id="form-success" data-modal-ext-class="popup--small").js-popup Test form success
    button.pill-btn(type="button" data-modal-id="comment-success" data-modal-ext-class="popup--small").js-popup Test comment success
    button.pill-btn(type="button" data-modal-id="error-messaging-success" data-modal-ext-class="popup--small").js-popup Test errorMess success
    button.pill-btn(type="button" data-modal-id="error-messaging" data-modal-ext-class="popup--small").js-popup Test errorMess

//- шаблончики контента для попапов
template(data-tpl-id="career")
    //- career
    div.popup__inner.popup__inner--center(id="career")
        div.popup__box
            div.popup__title Отправить резюме
            div.popup__form
                form.form.send-resume-form(action="")
                    div.form__inputbox.form__box
                        label(for="career-name").form__label Имя#[span *]
                        input(type="text" id="career-name") 
                    div.form__inputbox.form__box
                        label(for="career-lastname").form__label Фамилия#[span *]
                        input(type="text" id="career-lastname")
                    div.form__inputbox.form__box
                        label(for="career-email").form__label E-mail#[span *]
                        input(type="text" id="career-email") 
                    div.form__inputbox.form__box
                        label(for="career-tel").form__label Телефон#[span *]
                        input(type="text" id="career-tel")
                    div.form__textarea.form__box
                        label(for="career-text").form__label Сопроводительное письмо
                        textarea(name="" id="career-text")
                    div.form__file.form__box
                        label(for="career-file").form__label Прикрепить резюме
                        input(
                            type="file"
                            id="career-file"
                            name="file"
                            multiple 
                            data-fileloader-success="Файл загружен"
                            data-fileloader-error="Ошибка загрузки"
                            data-fileloader-process="Подождите идет загрузка…"
                            hidden
                        )
                        div.form__filelist
                            label(for="career-file") Выберите файл
                            ul
                                //- li File #[span.form__filelist-del]
                    div.form__submit.form__box
                        //- просто демо, потом убрать дата-атрибут и класс попап, вызывать открытие после ответа сервера
                        button(type="submit" data-modal-id="career-success").js-popup.pill-btn Отправить
                
template(data-tpl-id="career-success")
    //- career success
    div.popup__inner.popup__inner--center(id="career-success")
        div.popup__box.popup__box--small
            div.popup__title Спасибо. Мы свяжемся с вами в скором времени.
            a.pill-btn(href="#careers") Отправить еще одно резюме
template(data-tpl-id="error-messaging")
    //- error messaging
    div.popup__inner(id="error-messaging")
        div.popup__box.popup__box--small
            div.popup__title.popup__title--small Сообщение об ошибке
            div.popup__subtitle Орфографическая ошибка в тексте:
            div.popup__text.popup__errortext Lorem ipsum dolor sit, amet consectetur adipisicing elit. #[span Fugit] veritatis ipsa sit autem magni deserunt, minima earum veniam officia suscipit non nihil quod! Numquam laboriosam voluptate, quos dignissimos at quo.
            form(id="error-form").popup__form
                button.pill-btn(type="submit" href="#error-messaging-success") Отправить
            button(type="button").popup__close.js-popup__close
            
template(data-tpl-id="error-messaging-success")
    //- error messaging success
    div.popup__inner(id="error-messaging-success")
        div.popup__box.popup__box--small
            div.popup__title.popup__title--small Спасибо за вашу внимательность. #[br] Мы исправим эти ошибки в ближайшее время.
            a.popup__innerclose.pill-btn(href="").js-popup__close Закрыть
            button(type="button").popup__close.js-popup__close
template(data-tpl-id="brochure")
    //- запросить брошюру
    div.popup__inner.popup__inner--center(id="brochure")
        div.popup__box
            div.popup__title Запросить брошюру о программе «Идеальные квартиры «А.Лен»
            div.popup__form
                form.form
                    div.form__inputbox.form__box
                        label(for="brochure-name").form__label Имя#[span *]
                        input(type="text" id="brochure-name")
                    div.form__inputbox.form__box
                        label(for="brochure-email").form__label E-mail#[span *]
                        input(type="text" id="brochure-email") 
                    div.form__textarea.form__box
                        label(for="brochure-text").form__label Вопрос или комментарий
                        textarea(name="", cols="30", rows="10" id="brochure-text")
                    div.form__checkbox.form__box
                        input(type="checkbox" id="brochure-agree") 
                        label(for="brochure-agree")
                            span Даю согласие на обработку персональных данных в соответствии с #[a(href="") политикой конфиденциальности]
                    div.form__submit.form__box
                        button(type="submit").pill-btn Отправить
template(data-tpl-id="comment-success")
    //- comment success
    div.popup__inner(id="comment-success")
        div.popup__box.popup__box--small
            div.popup__title.popup__title--small Ваш комментарий принят и отправлен на модерацию.
            a.popup__innerclose.pill-btn(href="").js-popup__close Закрыть
            button(type="button").popup__close.js-popup__close
template(data-tpl-id="form-success")
    //- form success
    div.popup__inner(id="form-success")
        div.popup__box.popup__box--small
            div.popup__title.popup__title--small Запрос отправлен
            a.popup__innerclose.pill-btn(href="").js-popup__close Закрыть
            button(type="button").popup__close.js-popup__close

template(data-tpl-id="gallery-project")
    div.popup__inner.popup__inner--gallery(id="gallery-project")
        include ../gallery/gallery.pug

template(data-tpl-id="gallery-sertificate")
    div.popup__inner.popup__inner--gallery(id="gallery-sertificate-1")
        include ../gallery/gallery-single.pug